<div id="footerContainer">
  <div class="firstRow rowContainer">
    <p>Get Connected with Us on Social Networks</p>
    <div class="groupSocial">
      <img src="./assets/icon/white/facebook.png">
      <img src="./assets/icon/white/youtube.png">
      <img src="./assets/icon/white/instagram.png">
      <img src="./assets/icon/white/linkedin.png">
      <img src="./assets/icon/white/google-browser.png">
    </div>
  </div>

  <div class="secondRow rowContainer">
    <div class="col" style="width: 30%;">
      <h4>Online Class How</h4>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <div class="col">
      <h4>Category</h4>
      <h3></h3>

      <ul>
        <li>Development</li>
        <li>Business</li>
        <li>IT & Software</li>
        <li>Finance & Accounting</li>
        <li>Personal Development</li>
        <li>Design</li>
        <li>Marketing</li>
      </ul>
    </div>
    <div class="col">
      <h4>Major</h4>

      <ul>
        <li>Development</li>
        <li>Business</li>
        <li>IT & Software</li>
      </ul>
    </div>
    <div class="col">
      <h4>Topic</h4>

      <ul>
        <li>Development</li>
        <li>Business</li>
        <li>IT & Software</li>
        <li>Finance & Accounting</li>
        <li>Personal Development</li>
      </ul>
    </div>

    <div class="col">
      <h4>Contact Us</h4>

      <ul>
        <li>(+855) 12 345 678</li>
        <li>(+855) 12 345 678</li>
        <li>auxswot@gmail.com</li>
      </ul>
    </div>
  </div>

  <div class="thirdRow rowContainer">
    @ 2020 Copyright. All Right Reserved. <span>OnlineCourseHow.com</span>
  </div>
</div>
