<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Promotions</p>
  </div>

  <div class="createCoursePageContent">
    <div class="referStudents">
      <h2>Refer students</h2>
      <p>Any time a student uses this link, we will credit you with the sale.</p>

      <input type="text" value="https://www.udemy.com/course/draft/3723076/?referralCode=7950EA5443B471B2B3C4">
    </div>

    <h3>Coupons</h3>
    <div class="contentContainer">
      <p>No coupon found</p>
    </div>

    <h3>Active coupons</h3>
    <div class="contentContainer">
      <p>No coupon found</p>
    </div>

    <div class="titleContainer">
      <h3>Expired coupons</h3>
      <div>
        <input type="text" placeholder="search coupon code" style="width: 200px;">
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="contentContainer">
      <p>No coupon found</p>
    </div>
  </div>
</div>
