.homeContainer {
  width: 100%;
  padding: 20px 10%;
  height: 100vh;

  .messageContainer {
    width: 100%;
    padding: 20px;
    background-color: #E6F2F5;

    display: flex;

    i {
      color: #007791;
      margin-right: 20px;
      margin-top: 7px;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 30px;
    }
  }

  .controllerContainer {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;

    .searchFilterContainer {
      display: flex;

      .searchContainer {
        display: flex;
        border: 1px solid #007791;
        margin-right: 20px;

        input {
          width: 300px;
          border: none;
          font-size: 15px;
          padding: 14px;
        }

        button {
          color: white;
          background-color: #007791;
          border: none;
          font-size: 20px;
          padding: 14px;
        }

        input:focus, button:focus, select:focus {
          outline: none;
        }

        button:hover {
          cursor: pointer;
          background-color: darken(#007791, 10);
        }
      }

      select {
        padding: 10px;
        border: 1px solid #007791;

        option {
          padding: 10px;
        }
      }
    }

    button {
      transition: 0.5s;
      color: white;
      background-color: #EC5252;
      border: none;
      font-size: 14px;
      font-weight: bold;
      padding: 14px;
    }

    button:focus {
      outline: none;
    }

    button:hover {
      transition: 0.5s;
      cursor: pointer;
      background-color:darken( #EC5252, 10);
    }
  }
}
