<div class="homeContainer">
  <h1>Courses</h1>

  <div class="messageContainer">
    <i class="fas fa-info-circle"></i>
    <p>
      Due to increased volume of new courses being submitted for review, the Quality Review Process may take up to 6 days. In order to avoid any additional delays, be sure that
      your course is in compliance with Udemy’s Course Materials Guidelines.
    </p>
  </div>

  <div class="controllerContainer">
    <div class="searchFilterContainer">
      <div class="searchContainer">
        <input type="text" placeholder="Search your courses">
        <button><i class="fas fa-search"></i></button>
      </div>

      <select>
        <option>Newest</option>
        <option>Oldest</option>
        <option>Ascending</option>
        <option>Descending</option>
        <option>Published First</option>
        <option>Unpublished First</option>
      </select>
    </div>

    <button>New Courses</button>
  </div>
</div>
