<div class="headerContainer__fixed">

  <div id="headerContainer">
    <div id="imageContainer">
      <img src='./assets/logo/logo.png' [routerLink]="['/']">
    </div>

    <div id="categoryContainer">
      <p class="categoryContainer__title">
        Categories</p>

      <div class="mainCategoryContainer">

        <div class="category_dialog">
          <ul>
            <li *ngFor="let item of this.categoryStore.Categories">
              <div class="itemContainer">
                <p>{{ item.name }}</p>
                <span class="material-icons">
                  keyboard_arrow_right
                </span>
              </div>

              <div class="subcategory_dialog">
                <ul>
                  <li *ngFor="let jtem of subcategoryStore.SubCategories">
                    
                    <ng-container *ngIf="jtem?.category.key === item?.key">
                      <div class="itemContainer">
                        <p>{{ jtem.name }}</p>
                        <span class="material-icons">
                          keyboard_arrow_right
                        </span>
                      </div>
  
                      <div class="topic_dialog">
                        <ul>
                          <li>
                            <div class="itemContainer">
                              <p>All {{ jtem.name }} Topics</p>
                            </div>
                          </li>
                          <li *ngFor="let ktem of this.topicStore.Topics">
                            <ng-container *ngIf="ktem?.subcategory.key === jtem?.key">
                              <div class="itemContainer">
                                <p>{{ ktem.name }}</p>
                              </div>
                            </ng-container>
                          </li>
                        </ul>
                      </div>
                    </ng-container>

                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div id="searchContainer">
      <button>
        <span class="material-icons">
          search
        </span>
      </button>
      <input type="text" placeholder="search for anything">
    </div>

    <div id="userAuthContainer">
      <button class="btnLogin" [routerLink]="['/instructor']">Log in</button>
      <button class="btnSignup">Sign up</button>
    </div>
  </div>

</div>

<!-- -------------------------------------------------------------------------------------------- -->

<!-- <div class="headerContainer__fixed">

  <div id="headerContainer">
    <div id="imageContainer">
      <img src='./assets/logo/logo.png' [routerLink]="['/']">
    </div>

    <div id="categoryContainer">
      <p class="categoryContainer__title">
        <button mat-button [matMenuTriggerFor]="animals">Categories</button>
      </p>

      <mat-menu #animals="matMenu">
        <button mat-menu-item *ngFor="let item of this.categoryStore.Categories" [matMenuTriggerFor]="item.name">{{ item.name }}</button>
      </mat-menu>

      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu>

      <mat-menu #invertebrates="matMenu">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
      </mat-menu>

      <mat-menu #fish="matMenu">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
      </mat-menu>

      <mat-menu #amphibians="matMenu">
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
      </mat-menu>

      <mat-menu #reptiles="matMenu">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
      </mat-menu>
    </div>

    <div id="searchContainer">
      <button>
        <span class="material-icons">
          search
        </span>
      </button>
      <input type="text" placeholder="search for anything">
    </div>

    <div id="userAuthContainer">
      <button class="btnLogin" [routerLink]="['/instructor']">Log in</button>
      <button class="btnSignup">Sign up</button>
    </div>
  </div>

</div> -->
