<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Course Messages</p>
  </div>

  <div class="createCoursePageContent">
    <p class="messageGuide">
      Write messages to your students (optional) that will be sent automatically when they join or complete your course to encourage students to engage with
      course content. If you do not wish to send a welcome or congratulations message, leave the text box blank.
    </p>

    <p>Welcome Message</p>
    <quill-editor [styles]="{height: '200px'}"></quill-editor>

    <p>Congratulations Message</p>
    <quill-editor [styles]="{height: '200px'}"></quill-editor>
  </div>
</div>
