<div class="studentRecommendation">
    <div class="studentRecommendation__header">
        <h2>The world's largest selection of courses</h2>
        <p>Choose from 130,000 online video courses with new additions published every month</p>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px;">
      <mat-tab-group>
        <mat-tab label="Math">
          <ng-template matTabContent>
            <app-swiper-by-tab></app-swiper-by-tab>
          </ng-template>
        </mat-tab>
        <mat-tab label="Khmer Literature">
          <ng-template matTabContent>
            <app-swiper-by-tab></app-swiper-by-tab>
          </ng-template>
        </mat-tab>
        <mat-tab label="Physic">
          <ng-template matTabContent>
            <app-swiper-by-tab></app-swiper-by-tab>
          </ng-template>
        </mat-tab>
        <mat-tab label="Chemistry">
          <ng-template matTabContent>
            <app-swiper-by-tab></app-swiper-by-tab>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>

    <!-- <div class="course_navigation">
      <ul>
        <li>Math</li>
        <li>Physic</li>
        <li>Chemistry</li>
        <li>Khmer Literature</li>
        <li>Biology</li>
      </ul>
    </div>

    <div class="swiperContainer">
      <swiper [config]="config">
        <div class="swiperContainer_block">
          <div class="imageContainer">
            <img src="./assets/images/js.jpg">
          </div>

          <div class="contentContainer">
            <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
            <p>Andrew Mead</p>

            <div class="ratingContainer">
              <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
            </div>
          </div>
        </div>

        <div class="swiperContainer_block">
          <div class="imageContainer">
            <img src="./assets/images/js.jpg">
          </div>

          <div class="contentContainer">
            <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
            <p>Andrew Mead</p>

            <div class="ratingContainer">
              <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
            </div>
          </div>
        </div>
        <div class="swiperContainer_block">
          <div class="imageContainer">
            <img src="./assets/images/js.jpg">
          </div>

          <div class="contentContainer">
            <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
            <p>Andrew Mead</p>

            <div class="ratingContainer">
              <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
            </div>
          </div>
        </div>
        <div class="swiperContainer_block">
          <div class="imageContainer">
            <img src="./assets/images/js.jpg">
          </div>

          <div class="contentContainer">
            <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
            <p>Andrew Mead</p>

            <div class="ratingContainer">
              <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
            </div>
          </div>
        </div>
        <div class="swiperContainer_block">
          <div class="imageContainer">
            <img src="./assets/images/js.jpg">
          </div>

          <div class="contentContainer">
            <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
            <p>Andrew Mead</p>

            <div class="ratingContainer">
              <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
            </div>
          </div>
        </div>
        <div class="swiperContainer_block">
          <div class="imageContainer">
            <img src="./assets/images/js.jpg">
          </div>

          <div class="contentContainer">
            <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
            <p>Andrew Mead</p>

            <div class="ratingContainer">
              <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
            </div>
          </div>
        </div>
      </swiper>
    </div> -->
</div>
