<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Setting</p>
  </div>

  <div class="createCoursePageContent">
    <p>Course Status</p>
    <p>This course is not published on the Udemy marketplace.</p>

    <div class="courseControllerContainer">
      <div class="leftSide">
        <button>Unpublish</button>
      </div>
      <div class="rightSide">
        <p>New students cannot find your course via search, but existing students can still access content.</p>
      </div>
    </div>

    <div class="courseControllerContainer">
      <div class="leftSide">
        <button style="border: 1px solid #992337; color: #992337;">Delete</button>
      </div>
      <div class="rightSide">
        <p>We promise students lifetime access, so courses cannot be deleted after students have enrolled.</p>
      </div>
    </div>
  </div>

  <div class="createCoursePageContent">
    <p>Enrollment (Privacy)</p>
    <select>
      <option>Public</option>
      <option>Private (Invitation Only)</option>
      <option>Private (Password Protected)</option>
    </select>
    <p>Public courses show up in search results and are available for anyone to take on Udemy.</p>
    <button class="btnSave">Save</button>
  </div>

  <div class="createCoursePageContent" style="border: none;">
    <p>Permissions</p>

    <table>
      <tr>
        <th style="width: 25%;">Instructor</th>
        <th style="width: 10%;">Visible</th>
        <th style="width: 10%;">Manage</th>
        <th style="width: 10%;">Captions</th>
        <th style="width: 15%;">Performance</th>
        <th style="width: 10%;">Q&A</th>
        <th style="width: 10%;">Assignments</th>
        <th style="width: 10%;">Reviews</th>
      </tr>
    </table>

    <input placeholder="Enter an email associated with an Udemy account.">
    <button class="btnSave" style="margin-top: 20px;">Save</button>
  </div>
</div>
