<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Course Structure</p>
  </div>

  <div class="helpContainer">
    <div class="blocksContainer">
      <div class="leftSideBlock">
        <h3>There's a course in you. Plan it out.</h3>
        <p>
          Planning your course carefully will create a clear learning path for students and help you once you film. Think down to the details of each lecture including
          the skill you’ll teach, estimated video length, practical activities to include, and how you’ll create introductions and summaries.
        </p>
      </div>

      <div class="rightSideBlock">
        <img src="./assets/images/CourseStructure_CTA.png">
        <h4>Our library of resources</h4>
        <p>Tips and guides to structuring a course students love</p>
        <button>Learn at Teach Hub</button>
      </div>
    </div>
  </div>

  <div class="structuresContainer">
    <div class="structureContainer">
      <div class="structureHeader">
        <i class="far fa-lightbulb"></i>
        <h3>Tips</h3>
      </div>

      <div class="structureContent">
        <ul>
          <li>
            <div>
              <h4>Create an outline.</h4>
              <p>Decide what skills you’ll teach and how you’ll teach them. Organize lectures into sections. Each section should have 3-7 lectures, and include at least one assignment or practical activity.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Introduce yourself and create momentum.</h4>
              <p>People online want to start learning quickly. Make an introduction section that gives students something to be excited about in the first 10 minutes.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Sections have a clear learning objective.</h4>
              <p>Introduce each section by describing the section goal and why it’s important. Give lectures and sections titles that reflect their content and have a logical flow.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Lectures cover one concept.</h4>
              <p>A good lecture length is 2-7 minutes, to keep students interested and help them study in short bursts. Make lectures around single topics so students can easily re-watch specific points later.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Mix and match your lecture types.</h4>
              <p>Alternate between filming yourself, your screen, and slides or other visuals. Showing yourself can help students feel connected.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Create an outline.</h4>
              <p>Decide what skills you’ll teach and how you’ll teach them. Organize lectures into sections. Each section should have 3-7 lectures, and include at least one assignment or practical activity.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Practice activities create hands-on learning.</h4>
              <p>Help students apply your lessons to their real world with projects, assignments, coding exercises, or worksheets.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="structureContainer" style="margin-top: 40px;">
      <div class="structureHeader">
        <i class="fas fa-exclamation" style="margin-right: 27px;"></i>
        <h3>Requirements</h3>
      </div>

      <div class="structureContent">
        <ul style="line-height: 40px; margin-left: 20px;">
          <li style="list-style-type: initial;">Your course has at least five lectures</li>
          <li style="list-style-type: initial;">All lectures add up to at least 30+ minutes of total video</li>
          <li style="list-style-type: initial;">You course is composed of valuable educational content</li>
        </ul>
      </div>
    </div>

    <div class="structureContainer" style="margin-top: 40px;">
      <div class="structureHeader">
        <i class="fas fa-passport" style="margin-right: 15px;"></i>
        <h3>Tips</h3>
      </div>

      <div class="structureContent">
        <ul>
          <li>
            <div>
              <h4>Udemy Trust & Safety</h4>
              <p>Our policies for instructors and students</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Join the community</h4>
              <p>A place to talk with other instructors</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
