<div class="swiperContainer">
  <swiper [config]="config">

    <div class="swiperContainer_block" *ngFor="let item of this.courseStore.ReversedCourses?.reverse()" (click)="courseClicked(item.key)">
      <div class="imageContainer" [routerLink]="['/course/' + item.key]">
        <img src={{item.courseImageUrl}}>
      </div>

      <div class="contentContainer">
        <h4>{{item.title}}</h4>
        <p>{{item.createdBy?.displayName}}</p>

        <div class="ratingContainer">
          <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
        </div>
      </div>
    </div>

  </swiper>
</div>
