<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Target Your Student</p>
  </div>

  <div class="createCoursePageContent">
    <p>The descriptions you write here will help students decide if your course is the one for them.</p>

    <div class="questionAndAnswerBox">
      <p>What will students learn in your course?</p>

      <div class="inputController">
        <input type="text">
        <button><i class="far fa-trash-alt"></i></button>
        <button><i class="fas fa-list-ul"></i></button>
      </div>

      <button>
        <i class="fas fa-plus"></i>
        <p>Add an Answer</p>
      </button>
    </div>

    <div class="questionAndAnswerBox">
      <p>Are there any course requirements or prerequisites?</p>

      <div class="inputController">
        <input type="text">
        <button><i class="far fa-trash-alt"></i></button>
        <button><i class="fas fa-list-ul"></i></button>
      </div>

      <button>
        <i class="fas fa-plus"></i>
        <p>Add an Answer</p>
      </button>
    </div>

    <div class="questionAndAnswerBox">
      <p>Who are your target students?</p>

      <div class="inputController">
        <input type="text">
        <button><i class="far fa-trash-alt"></i></button>
        <button><i class="fas fa-list-ul"></i></button>
      </div>

      <button>
        <i class="fas fa-plus"></i>
        <p>Add an Answer</p>
      </button>
    </div>
  </div>
</div>
