<div class="creatingNewCourseHeaderContainer">
    <div class="backContainer" [routerLink]="['/student/dashboard']">
      <i class="fas fa-chevron-left"></i>
      Back to Courses
    </div>
  
    <!-- <div class="controllersContainer">
      <button class="btnSave" (click)="btnSaveCourseClicked()">Save</button>
      <button class="btnSetting" [routerLink]="['/create_course/' + this.courseId + '/setting']"><i class="fas fa-cog"></i></button>
    </div> -->
  </div>
  
  <div style="width: 100%; height: 80px;"></div>