<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Pricing</p>
  </div>

  <div class="createCoursePageContent">
    <div class="messageContainer">
      <i class="fas fa-info-circle"></i>
      <p>
        Udemy has begun list price testing for courses in Udemy Deals. During these tests, your course's list price may display differently in different markets or to different students.
      </p>
    </div>

    <p style="margin-top: 20px;">Course Price Tier</p>
    <p>
      Please select the price tier for your course below and click 'Save'. The list price that students will see in other currencies is calculated using the price tier
      matrix, based on the tier that it corresponds to.
    </p>
    <p>If you're intending to offer your course for free, the total length of video content must be less than 2 hours.</p>

    <div class="blockContainer">
      <div class="leftSideContainer">
        <select style="width: 80px;">
          <option>USD</option>
          <option>GBP</option>
          <option>AUD</option>
          <option>EUR</option>
        </select>

        <select style="width: 120px;">
          <option>Select</option>
          <option>Free</option>
          <option>$19.99</option>
          <option>$24.99</option>
        </select>

        <button>Save</button>
      </div>

      <div class="rightSideContainer">
        <p>
          Please complete the premium instructor application here in order to set a price for your course. You can set your course price as soon as your linked payment method
          is approved.
        </p>
      </div>
    </div>
  </div>
</div>
