<div class="swiperContainer">
  <swiper [config]="config">
    <div class="swiperContainer_block" [routerLink]="['/topic/1']">
      <div class="imageContainer">
        <img src="./assets/images/js.jpg">
      </div>

      <div class="contentContainer">
        <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
        <p>Andrew Mead</p>

        <div class="ratingContainer">
          <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
        </div>
      </div>
    </div>

    <div class="swiperContainer_block">
      <div class="imageContainer">
        <img src="./assets/images/js.jpg">
      </div>

      <div class="contentContainer">
        <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
        <p>Andrew Mead</p>

        <div class="ratingContainer">
          <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
        </div>
      </div>
    </div>
    <div class="swiperContainer_block">
      <div class="imageContainer">
        <img src="./assets/images/js.jpg">
      </div>

      <div class="contentContainer">
        <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
        <p>Andrew Mead</p>

        <div class="ratingContainer">
          <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
        </div>
      </div>
    </div>
    <div class="swiperContainer_block">
      <div class="imageContainer">
        <img src="./assets/images/js.jpg">
      </div>

      <div class="contentContainer">
        <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
        <p>Andrew Mead</p>

        <div class="ratingContainer">
          <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
        </div>
      </div>
    </div>
    <div class="swiperContainer_block">
      <div class="imageContainer">
        <img src="./assets/images/js.jpg">
      </div>

      <div class="contentContainer">
        <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
        <p>Andrew Mead</p>

        <div class="ratingContainer">
          <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
        </div>
      </div>
    </div>
    <div class="swiperContainer_block">
      <div class="imageContainer">
        <img src="./assets/images/js.jpg">
      </div>

      <div class="contentContainer">
        <h4>The Complete JavaScript Course 2020: From Zero to Expert!</h4>
        <p>Andrew Mead</p>

        <div class="ratingContainer">
          <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
        </div>
      </div>
    </div>
  </swiper>
</div>
