<div class="sidebarContainer">
  <div class="logoContainer">
    <img src="./assets/logo/logo.png">
  </div>

  <div class="navElementsContainer">

    <div class="navElementContainer">
      <i class="fas fa-film"></i>
      <p>Courses</p>
    </div>
    <div class="navElementContainer">
      <i class="far fa-comment-dots"></i>
      <p>Communication</p>
    </div>
    <div class="navElementContainer">
      <i class="fas fa-chart-bar"></i>
      <p>Performance</p>
    </div>
    <div class="navElementContainer">
      <i class="fas fa-wrench"></i>
      <p>Tools</p>
    </div>
    <div class="navElementContainer">
      <i class="far fa-question-circle"></i>
      <p>Resources</p>
    </div>

  </div>
</div>
