<div class="sectionContainer">
    <div class="sectionHeader">
      <div class="sectionHeader__leftSide">
        <p><span style="font-weight: bold;">Section {{ section_index }}: </span>{{ section_title }}</p>
        <button class="btnOrderList" (click)="btnViewSectionClicked(section_data, section_index)"><i class="far fa-eye"></i></button>
        <button class="btnOrderList" (click)="btnEditSectionClicked(section_data, section_index)"><i class="far fa-edit"></i></button>
        <button class="btnOrderList" (click)="btnDeleteSectionClicked(section_index)"><i class="far fa-trash-alt"></i></button>
      </div>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let jtem of this.section_elements; let j=index;" class="elementBlockContainer" cdkDrag>
        
        <button class="btnOrderList" cdkDragHandle><i class="fas fa-bars"></i></button>

        <app-course-element-block [elementData]="jtem" 
          [section_index]="section_index" 
          [element_index]="j" 
          (deleteElementEvent)="this.btnDeleteElementClicked($event)">
        </app-course-element-block>
      </div>
    </div>

    <div [ngStyle]="{'margin-top': '20px'}">
      <mat-tab-group>

        <mat-tab label="Lecture">
          <div class="addSectionContainer">
            <div class="inputsContainer">
              <div class="leftSideContainer">
                <p>New Lecture:</p>
              </div>
  
              <div class="rightSideContainer">
                <input type="text" placeholder="Enter a Lecture" [(ngModel)]="lectureTitle">

                <p class="label">Description</p>
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="lectureDescription"></quill-editor>

                <div class="uploadFilesContainer">
                  <p class="label">Upload Video (Only 1 video can be attached.)</p>
                  <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                    <ng-container *ngIf="this.selectedVideo">
                      <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Video: {{ this.selectedVideo.name }}</p>                    
                    </ng-container>

                    <ng-container *ngIf="!this.selectedVideo">
                      <p [ngStyle]="{'margin-bottom': '10px'}">No Attachment Video.</p>                    
                    </ng-container>

                    <ng-container *ngIf="this.vimeo_uploadedVideoPct">
                      <mat-progress-bar mode="determinate" [value]="this.vimeo_uploadedVideoPct"></mat-progress-bar> 
                      <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                        <p>{{ this.vimeo_uploadedVideoStatus }}</p>
                        <p>{{ this.formatPercentage(this.vimeo_uploadedVideoPct) }}% Complete</p>
                      </div>
                      <br/>
                    </ng-container>
                  </div>

                  <input type="file" (change)="courseVideoChanged($event)" accept="video/*"> 

                  <p class="label">Upload File (Only 1 file can be attached.)</p>
                  <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                    <ng-container *ngIf="this.selectedFile">
                      <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Files: {{ this.selectedFile?.name }}</p>                
                    </ng-container>

                    <ng-container *ngIf="!this.selectedFile">
                      <p [ngStyle]="{'margin-bottom': '10px'}">No Attachment File.</p>                
                    </ng-container>
                    
                    <ng-container *ngIf="this.firebase_UploadingPercentage">
                      <mat-progress-bar mode="determinate" [value]="this.firebase_UploadingPercentage"></mat-progress-bar> 
                      <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                        <p>{{ this.firebase_UploadedStatus}}</p>
                        <p>{{ this.formatPercentage(this.firebase_UploadingPercentage) }}% Complete</p>
                      </div>
                      <br/>
                    </ng-container>
                  </div>

                  <input type="file" (change)="courseFileChanged($event)">
            
                  <!-- <p-fileUpload #fubauto mode="basic" accept="video/*" maxFileSize="1000000000" 
                    (onSelect)="courseVideoChanged($event)" [auto]="true" chooseLabel="Browse" multiple>
                  </p-fileUpload> -->
                </div>
              </div>
            </div>
  
            <div class="groupActionButtons">
              <button class="btnCancel" (click)="this.btnCancelLectureClicked()">Cancel</button>
              <button class="btnAddSection2" (click)="btnAddLectureClicked()">Add Lecture</button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Quiz">
          <div class="addSectionContainer">
            <div class="inputsContainer">
              <div class="leftSideContainer">
                <p>New Quiz:</p>
              </div>
  
              <div class="rightSideContainer">
                <input type="text" placeholder="Enter a Quiz Title" [(ngModel)]="quizTitle">

                <p class="label">Description</p>
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="quizDescription"></quill-editor>

                <p class="label">Upload Video (Only 1 video can be attached.)</p>
                <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                  <ng-container *ngIf="this.selectedVideo">
                    <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Video: {{ this.selectedVideo.name }}</p>                    
                  </ng-container>

                  <ng-container *ngIf="this.vimeo_uploadedVideoPct">
                    <mat-progress-bar mode="determinate" [value]="this.vimeo_uploadedVideoPct"></mat-progress-bar> 
                    <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                      <p>{{ this.vimeo_uploadedVideoStatus }}</p>
                      <p>{{ this.formatPercentage(this.vimeo_uploadedVideoPct) }}% Complete</p>
                    </div>
                    <br/>
                  </ng-container>
                </div>

                <input type="file" (change)="courseVideoChanged($event)" accept="video/*"> 

                <p class="label">Upload File (Only 1 file can be attached.)</p>
                <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                  <!-- <ng-container *ngFor="let item of this.selectedFiles; let i=index;">
                    <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Files: {{ this.item.name }}</p>
                  </ng-container> -->

                  <ng-container *ngIf="this.selectedFile">
                    <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Files: {{ this.selectedFile?.name }}</p>                
                  </ng-container>

                  <ng-container *ngIf="this.firebase_UploadingPercentage">
                    <mat-progress-bar mode="determinate" [value]="this.firebase_UploadingPercentage"></mat-progress-bar> 
                    <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                      <p>{{ this.firebase_UploadedStatus}}</p>
                      <p>{{ this.formatPercentage(this.firebase_UploadingPercentage) }}% Complete</p>
                    </div>
                    <br/>
                  </ng-container>
                </div>

                <input type="file" (change)="courseFileChanged($event)">
          
                <!-- <p-fileUpload #fubauto mode="basic" accept="video/*" maxFileSize="1000000000" 
                  (onSelect)="courseVideoChanged($event)" [auto]="true" chooseLabel="Browse" multiple>
                </p-fileUpload> -->
              </div>
            </div>
  
            <div class="groupActionButtons">
              <button class="btnCancel" (click)="this.btnCancelQuizClicked()">Cancel</button>
              <button class="btnAddSection2" (click)="btnAddQuizClicked()">Add Quiz</button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Exercise">
          <div class="addSectionContainer">
            <div class="inputsContainer">
              <div class="leftSideContainer">
                <p>New Exercise:</p>
              </div>
  
              <div class="rightSideContainer">
                <input type="text" placeholder="Enter a Exercise" [(ngModel)]="exerciseTitle">

                <p class="label">Description</p>
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="exerciseDescription"></quill-editor>

                <p class="label">Upload Video (Only 1 video can be attached.)</p>
                <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                  <ng-container *ngIf="this.selectedVideo">
                    <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Video: {{ this.selectedVideo.name }}</p>                    
                  </ng-container>

                  <ng-container *ngIf="this.vimeo_uploadedVideoPct">
                    <mat-progress-bar mode="determinate" [value]="this.vimeo_uploadedVideoPct"></mat-progress-bar> 
                    <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                      <p>{{ this.vimeo_uploadedVideoStatus }}</p>
                      <p>{{ this.formatPercentage(this.vimeo_uploadedVideoPct) }}% Complete</p>
                    </div>
                    <br/>
                  </ng-container>
                </div>

                <input type="file" (change)="courseVideoChanged($event)" accept="video/*"> 

                <p class="label">Upload File (Only 1 file can be attached.)</p>
                <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                  <ng-container *ngIf="this.selectedFile">
                    <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Files: {{ this.selectedFile?.name }}</p>                
                  </ng-container>

                  <ng-container *ngIf="this.firebase_UploadingPercentage">
                    <mat-progress-bar mode="determinate" [value]="this.firebase_UploadingPercentage"></mat-progress-bar> 
                    <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                      <p>{{ this.firebase_UploadedStatus}}</p>
                      <p>{{ this.formatPercentage(this.firebase_UploadingPercentage) }}% Complete</p>
                    </div>
                    <br/>
                  </ng-container>
                </div>

                <input type="file" (change)="courseFileChanged($event)">
          
                <!-- <p-fileUpload #fubauto mode="basic" accept="video/*" maxFileSize="1000000000" 
                  (onSelect)="courseVideoChanged($event)" [auto]="true" chooseLabel="Browse" multiple>
                </p-fileUpload> -->
              </div>
            </div>
  
            <div class="groupActionButtons">
              <button class="btnCancel" (click)="this.btnCancelExerciseClicked()">Cancel</button>
              <button class="btnAddSection2" (click)="btnAddExerciseClicked()">Add Excercise</button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Assignment">
          <div class="addSectionContainer">
            <div class="inputsContainer">
              <div class="leftSideContainer">
                <p>New Assignment:</p>
              </div>
  
              <div class="rightSideContainer">
                <input type="text" placeholder="Enter a Lecture" [(ngModel)]="assignmentTitle">

                <p class="label">Description</p>
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="assignmentDescription"></quill-editor>

                <p class="label">Upload Video (Only 1 video can be attached.)</p>
                <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                  <ng-container *ngIf="this.selectedVideo">
                    <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Video: {{ this.selectedVideo.name }}</p>                    
                  </ng-container>

                  <ng-container *ngIf="this.vimeo_uploadedVideoPct">
                    <mat-progress-bar mode="determinate" [value]="this.vimeo_uploadedVideoPct"></mat-progress-bar> 
                    <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                      <p>{{ this.vimeo_uploadedVideoStatus }}</p>
                      <p>{{ this.formatPercentage(this.vimeo_uploadedVideoPct) }}% Complete</p>
                    </div>
                    <br/>
                  </ng-container>
                </div>

                <input type="file" (change)="courseVideoChanged($event)" accept="video/*"> 

                <p class="label">Upload File (Only 1 file can be attached.)</p>
                <div class="uploadingVideoBlockContainer" [ngStyle]="{ 'padding': '20px 0px 10px 0px;'}">
                  <ng-container *ngIf="this.selectedFile">
                    <p [ngStyle]="{'margin-bottom': '10px'}">Attachment Files: {{ this.selectedFile?.name }}</p>                
                  </ng-container>

                  <ng-container *ngIf="this.firebase_UploadingPercentage">
                    <mat-progress-bar mode="determinate" [value]="this.firebase_UploadingPercentage"></mat-progress-bar> 
                    <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
                      <p>{{ this.firebase_UploadedStatus}}</p>
                      <p>{{ this.formatPercentage(this.firebase_UploadingPercentage) }}% Complete</p>
                    </div>
                    <br/>
                  </ng-container>
                </div>

                <input type="file" (change)="courseFileChanged($event)">
          
                <!-- <p-fileUpload #fubauto mode="basic" accept="video/*" maxFileSize="1000000000" 
                  (onSelect)="courseVideoChanged($event)" [auto]="true" chooseLabel="Browse" multiple>
                </p-fileUpload> -->
              </div>
            </div>
  
            <div class="groupActionButtons">
              <button class="btnCancel" (click)="this.btnCancelAssignmentClicked()">Cancel</button>
              <button class="btnAddSection2" (click)="btnAddAssignmentClicked()">Add Assignment</button>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
</div>