<div class="fullHeightDialogContainer">

    <h2 mat-dialog-title>Course Category</h2>
  
    <mat-dialog-content class="mat-typography">
  
      <form [formGroup]="editCategoryForm" class="addCategoryContainer" (ngSubmit)="onSubmit(editCategoryForm.value)">
        <mat-form-field appearance="outline" class="matInputForm">
          <mat-label>Name</mat-label>
          <input matInput placeholder="name" formControlName="name">
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="matInputForm">
          <mat-label>Kh_Name</mat-label>
          <input matInput placeholder="khmer name" formControlName="kh_name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="matInputForm">
          <mat-label></mat-label>
          <mat-select formControlName="parent_category">
            <mat-option [value]="this.subCategoryStore.ParentCategory">
              {{this.subCategoryStore.ParentCategory?.name}}
            </mat-option>
            <mat-option *ngFor="let item of this.categoryStore.Categories" [value]="item">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="matInputForm">
          <mat-label>Order</mat-label>
          <input type="number" matInput placeholder="order" formControlName="order">
        </mat-form-field>
  
        <label style="margin-bottom: 20px">Description</label><br/><br/>
        <quill-editor [styles]="{height: '200px'}" formControlName="description">
          {{ this.textDescription }}
        </quill-editor><br>
  
        <label style="margin-bottom: 20px; margin-top: 40px">Status</label><br><br>
        <mat-slide-toggle formControlName="status">Active</mat-slide-toggle>
      </form>
  
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="matSubmitForm" (click)="onSubmit(editCategoryForm.value)">Save</button>
    </mat-dialog-actions>
  
  </div>
  