<div class="fullHeightDialogContainer">

  <h2 mat-dialog-title>Course Category</h2>

  <mat-dialog-content class="mat-typography">

    <form [formGroup]="editCategoryForm" class="addCategoryContainer" (ngSubmit)="onSubmit(editCategoryForm.value)">
      <mat-form-field appearance="outline" class="matInputForm">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="matInputForm">
        <mat-label>Kh_Name</mat-label>
        <input matInput placeholder="khmer name" formControlName="kh_name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="matInputForm">
        <mat-label>Order</mat-label>
        <input type="number" matInput placeholder="order" formControlName="order">
      </mat-form-field>

      <ng-container>
        <label style="margin-bottom: 20px; margin-top: 40px">Upload Image</label><br><br>

        <img src="{{ this.data.categoryImageUrl }}" style="margin-bottom: 20px; width: 100%;">

        <ng-container *ngIf="this.selectedImage">
          <p>Filename: {{ this.selectedImage.name }}</p>
        </ng-container>

        <ng-container *ngIf="this.percentage">
          <mat-progress-bar mode="determinate" [value]="this.percentage"></mat-progress-bar> 
          <p [ngStyle]="{'margin-top': '10px', 'text-align': 'right'}">{{ this.formatPercentage(this.percentage) }}% Complete</p>
        </ng-container>

        <p-fileUpload #fubauto mode="basic" accept="image/*" maxFileSize="1000000000" 
          (onSelect)="inputImageChanged($event)" [auto]="true" chooseLabel="Browse">
        </p-fileUpload>
      </ng-container><br>

      <label style="margin-bottom: 20px">Description</label><br/><br/>
      <quill-editor [styles]="{height: '200px'}" formControlName="description">
        {{ this.textDescription }}
      </quill-editor><br>

      <label style="margin-bottom: 20px; margin-top: 40px">Status</label><br><br>
      <mat-slide-toggle formControlName="status">Active</mat-slide-toggle>
    </form>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="matSubmitForm" (click)="onSubmit(editCategoryForm.value)">Save</button>
  </mat-dialog-actions>

</div>
