<div class="topicContentDescriptionContainer">
  <div class="objectiveBlockContainer">
    <h2>What you'll learn</h2>

    <div class="descriptionsContainer">

      <div class="descriptionContainer" *ngFor="let item of this.courseStore.TempCourse?.arrStudentObjective">
        <span class="material-icons">done</span>
        <p>{{ item }}</p>
      </div>

      <div class="descriptionContainer" *ngIf="this.courseStore.TempCourse?.arrStudentObjective || this.courseStore.TempCourse?.arrStudentObjective.length === 0">
        <span class="material-icons">done</span>
        <p>No Objective.</p>
      </div>

    </div>
  </div>

  <div class="courseContentContainer">
    <h2>Course content</h2>

    <mat-accordion>

      <mat-expansion-panel (opened)="true" (closed)="false" *ngFor="let item of this.courseStore.TempCourseSections">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.sectionTitle }}
          </mat-panel-title>
          <mat-panel-description>
            {{ item.sectionObjective | shorten: 40: '...' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="item?.elements?.length === 0">No Content.</p>
        <ul>
          <li *ngFor="let item of item.elements">
            {{ item.elementTitle }}
          </li>
        </ul>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <div class="requirementBlockContainer">
    <h2>Requirement</h2>

    <ul *ngIf="this.courseStore.TempCourse?.arrStudentRequirement">
      <li *ngFor="let item of this.courseStore.TempCourse?.arrStudentRequirement">
        {{item}}
      </li>
    </ul>

    <ul *ngIf="this.courseStore.TempCourse?.arrStudentRequirement || this.courseStore.TempCourse?.arrStudentRequirement.length === 0">
      <li>
        No Requirement.
      </li>
    </ul>
  </div>

  <div class="descriptionBlockContainer">
    <h2>Description</h2>

    <div [innerHTML]="this.courseStore.TempCourse?.description">

    </div>
  </div>

  <div class="instructorsContainer">
    <h2>Instructor</h2>

    <div class="instructorContainer">
      <div class="instructorInformationContainer">
        <div class="imageContainer">
          <img src="./assets/images/steven.jpg">
        </div>
        <div class="informationContainer">
          <h2>Sam Micheal</h2>
          <p class="instructorPosition">Python Programmer</p>
          <!-- <p><span class="material-icons">star</span>4.6 Instructor Rating</p>
          <p><span class="material-icons">play_circle</span>31 Courses</p> -->
          <p>
            Jose Marcial Portilla has a BS and MS in Mechanical Engineering from Santa Clara University and years of experience as a professional instructor
            and trainer for Data Science and programming. He has publications and patents in various fields such as microfluidics, materials science, and
            data science technologies. Over the course of his career he has developed a skill set in analyzing data and he hopes to use his experience in
            teaching and data science to help other people learn the power of programming the ability to analyze data, as well as present the data in clear
            and beautiful visualizations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
