<div class="topicIntroHeaderContainer">
  <div class="imageContainer">
    <img src="./assets/images/js.jpg">
  </div>

  <h1>2020 Complete Python Bootcamp From Zero to Hero in Python</h1>
  <p>Learn Python like a Professional Start from the basics and go all the way to creating your own applications and games</p>
  <div class="ratingContainer">
    <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
  </div>
  <p class="taughtBy">Taught By: Andrew Mead</p>
</div>
