<div class="topicIntroHeaderContainer">
  <div class="imageContainer">
    <img src="{{ this.courseStore.TempCourse?.courseImageUrl }}"> 
  </div>

  <h1>{{ this.courseStore.TempCourse?.title }}</h1>
  <p>{{ this.courseStore.TempCourse?.subtitle }}</p>
  <div class="ratingContainer">
    <bar-rating [(rate)]="rate" [max]="5" [showText]="false" [titles]="['Bad', 'Mediocre' , 'Good', 'Excellent', 'Awesome']"></bar-rating>
  </div>
  <p class="taughtBy">Taught By: {{ this.courseStore.TempCourse?.createdBy?.displayName }}</p>
</div>
