<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Course Landing Page</p>
  </div>

  <div class="createCoursePageContent">
    
    <form [formGroup]="courseLandingPageForm" (ngSubmit)="onSubmit(courseLandingPageForm.value)">
      <p>Course title</p>
      <input type="text" placeholder="Enter a title" formControlName="title">

      <p>Course subtitle</p>
      <input type="text" placeholder="Enter a course subtitle" formControlName="subtitle">

      <p>Course description</p>
      <quill-editor [styles]="{height: '500px'}" formControlName="description"></quill-editor>

      <p style="margin-top: 20px;">Basic Info</p>
      <div class="basicInfoContainer">
        <!-- <select formControlName="language" [compareWith]="compareFn">
          <option [value]="'-- Select Language --'">-- Select Language --</option>
          <option *ngFor="let item of this.languageStore.Languages;" [value]="item">{{ item.name }}</option>
        </select> -->

        <mat-form-field appearance="outline">
          <mat-label>Language</mat-label>
          <mat-select formControlName="language" [compareWith]="compareFn">
            <mat-option [value]="'-- Select Language --'">-- Select Language --</mat-option>
            <mat-option *ngFor="let item of this.languageStore.Languages;" [value]="item">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <select formControlName="level" [compareWith]="compareFn">
          <option [value]="'-- Select Level --'">-- Select Level --</option>
          <option *ngFor="let item of this.levelStore.Levels;" [value]="item">{{ item.name }}</option>
        </select> -->

        <mat-form-field appearance="outline">
          <mat-label>Level</mat-label>
          <mat-select formControlName="level" [compareWith]="compareFn">
            <mat-option [value]="'-- Select Level --'">-- Select Level --</mat-option>
            <mat-option *ngFor="let item of this.levelStore.Levels;" [value]="item">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <select (change)="this.selectParentCategoryChanged($event)" formControlName="category" [compareWith]="compareFn">
          <option [value]="'-- Select Category --'">-- Select Category --</option>
          <ng-container *ngFor="let item of this.categoryStore.Categories;">
            <option [value]="item">{{ item.name }}</option>
          </ng-container>
        </select> -->

        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" [compareWith]="compareFn" (selectionChange)="selectParentCategoryChanged($event)">
            <mat-option [value]="'-- Select Category --'">-- Select Category --</mat-option>
            <ng-container *ngFor="let item of this.categoryStore.Categories;">
              <mat-option [value]="item">{{ item.name }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <div style="grid-column-start: 1; grid-column-end: 3;"></div>

        <!-- <select formControlName="subcategory" [compareWith]="compareFn">
          <option [value]="'-- Select Subcategory --'">-- Select Subcategory --</option>
          <option *ngFor="let item of this.subcategoryStore.SubCategories;" [value]="item">{{ item.name }}</option>
        </select> -->

        <mat-form-field appearance="outline">
          <mat-label>Subcategory</mat-label>
          <mat-select formControlName="subcategory" [compareWith]="compareFn">
            <mat-option [value]="'-- Select Subcategory --'">-- Select Subcategory --</mat-option>
            <mat-option *ngFor="let item of this.subcategoryStore.SubCategories;" [value]="item">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <p>What is primarily taught in your course?</p>
      <input type="text" placeholder="e.g. Landscape Photography" formControlName="primaryTaught">
    </form>

    <p>Course Image</p>
    <div class="courseImageContiner">
      <div class="leftSideContainer">
        <img src="{{ this.courseStore.TempCourse?.courseImageUrl || './assets/images/placeholder.png'}}">
      </div>
      <div class="rightSideContainer">
        <p>
          Upload your course image here. It must meet our course image quality standards to be accepted. Important guidelines: 750x422 pixels; .jpg, .jpeg,. gif, or
          .png. no text on the image.
        </p><br/>

        <ng-container *ngIf="this.selectedImage">
          <p>Filename: {{ this.selectedImage.name }}</p>
        </ng-container>

        <ng-container *ngIf="this.percentage">
          <mat-progress-bar mode="determinate" [value]="this.percentage"></mat-progress-bar> 
          <p [ngStyle]="{'margin-top': '10px', 'text-align': 'right'}">{{ this.formatPercentage(this.percentage) }}% Complete</p>
          <br/>
        </ng-container>

        <p-fileUpload #fubauto mode="basic" accept="image/*" maxFileSize="1000000000" 
          (onSelect)="courseImageChanged($event)" [auto]="true" chooseLabel="Browse">
        </p-fileUpload>
      </div>
    </div>

    <p style="margin-top: 20px;">Promotional video</p>
    <div class="courseImageContiner">
      <div class="leftSideContainer">
        <ng-container *ngIf="this.courseStore.TempCourse?.promotionVideoUrl">
          <!-- <vm-player theme="light" style="--vm-player-theme: #227ed5;">
            <vm-vimeo video-id="503346622" ></vm-vimeo>
            <vm-default-ui></vm-default-ui>
          </vm-player> -->

          <!-- <iframe [src]="this.replaceVimeoURL(this.courseStore.TempCourse?.promotionVideoUrl) | safe:'resourceUrl'" width="100%" height="300px" frameborder="0" 
          title="hello world" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->

          <div [innerHtml]="this.replaceVimeoURL(this.courseStore.TempCourse?.promotionVideoUrl)" style="width: 100%; height: auto;"></div>
        </ng-container>
        
        <ng-container *ngIf="!this.courseStore.TempCourse?.promotionVideoUrl">
          <img src="./assets/images/placeholder.png">
        </ng-container>
      </div>
      <div class="rightSideContainer">
        <p>
          Students who watch a well-made promo video are 5X more likely to enroll in your course. We've seen that statistic go up to 10X for exceptionally awesome
          videos. Learn how to make yours awesome!
        </p><br/>

        <ng-container *ngIf="this.selectedVideo">
          <p>Filename: {{ this.selectedVideo.name }}</p>
        </ng-container>

        <ng-container *ngIf="this.vimeo_uploadedVideoPct">
          <mat-progress-bar mode="determinate" [value]="this.vimeo_uploadedVideoPct"></mat-progress-bar> 
          <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between', 'margin-top': '10px'}">
            <p>{{ vimeo_uploadedVideoStatus }}</p>
            <p>{{ this.formatPercentage(this.vimeo_uploadedVideoPct) }}% Complete</p>
          </div>
          <br/>
        </ng-container>

        <p-fileUpload #fubauto mode="basic" accept="video/*" maxFileSize="1000000000" 
          (onSelect)="courseVideoChanged($event)" [auto]="true" chooseLabel="Browse">
        </p-fileUpload>
      </div>
    </div>

    <p style="margin-top: 20px;">Instructor profile(s)</p>
    <div class="instructorContainer">
      <i class="fas fa-user-circle"></i>
      <p>Tang Seakmeng</p>
    </div>
  </div>
</div>
