.section_elementContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #CACBCC;
    padding: 0px 20px;

    button {
        outline: none;
        border: none;
        background-color: transparent;
        margin-left: 10px;
        padding: 5px;
    }

    button:last-child {
        margin-left: 0px;
    }

    button:hover {
        cursor: pointer;
        background-color: white;
    }

    .section_elementContainer__leftSide {
        display: flex;
        align-items: center;
    }
}