<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Curriculum</p>
  </div>

  <div class="createCoursePageContent">
    <div class="messageContainer">
      <i class="fas fa-info-circle"></i>
      <p>
        Here’s where you add course content—like lectures, course sections, assignments, and more. Click a + icon on the left to get started.
      </p>
    </div>

    <p>Start putting together your course by creating sections, lectures and practice (quizzes, coding exercises and assignments).</p>
    <p>If you’re intending to offer your course for free, the total length of video content must be less than 2 hours.</p>

    <button class="btnAddSection" (click)="this.set_isShowAddSectionDialog()">
      <i class="fas fa-plus"></i>
      <p>Add New Section</p>
    </button>

    <div class="addSectionContainer" [ngStyle]="{'display': !!this.isShowAddSectionDialog ? 'block' : 'none'}">
      <div class="inputsContainer">
        <div class="leftSideContainer">
          <p>New Section:</p>
        </div>

        <div class="rightSideContainer">
          <input type="text" placeholder="Enter a Title" [(ngModel)]="sectionTitle">

          <p>What will students be able to do at the end of this section?</p>
          <input type="text" placeholder="Enter a learning objective" [(ngModel)]="sectionObjective">
        </div>
      </div>

      <div class="groupActionButtons">
        <button class="btnCancel" (click)="this.set_isShowAddSectionDialog()">Cancel</button>
        <button class="btnAddSection2" (click)="btnAddSectionClicked()">Add Section</button>
      </div>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of this.courseStore.TempCourseSections; let i=index" class="sectionBlockContainer" cdkDrag>

        <button class="btnOrderList" cdkDragHandle><i class="fas fa-bars"></i></button>
        
        <app-course-section-block 
          [section_index]="i + 1" 
          [section_title]="item.sectionTitle"  
          [section_data]="item"
          [section_elements]="item.elements"
          (deleleSectionEvent)="this.btnDeleteSectionClicked($event)"
          (updateSectionEvent)="this.btnUpdateSectionClicked($event)"
          (addElementEvent)="this.btnAddElementClicked($event)"
          (deleteElementEvent)="this.btnDeleteElementClicked($event)"
          (updateElementEvent)="this.btnUpdateElementClicked($event)"
          (dragDropElementOrderElement)="this.dragDropElementOrder($event)"
        ></app-course-section-block>
      </div>
    </div>
  </div>
</div>