<div class="popularInstructorsContainer">
  <h2>Popular Instructors</h2>

  <div class="instructorsContainer">
    <div class="instructorContainer">Topic 1</div>
    <div class="instructorContainer">Topic 2</div>
    <div class="instructorContainer">Topic 3</div>
    <div class="instructorContainer">Topic 4</div>
    <div class="instructorContainer">Topic 5</div>
    <div class="instructorContainer">Topic 6</div>
    <div class="instructorContainer">Topic 7</div>
    <div class="instructorContainer">Topic 8</div>
  </div>
</div>
