<div class="createCoursePageContainer">
  <div class="createCoursePageHeader">
    <p>Setup & Test Video</p>
  </div>

  <div class="helpContainer">
    <div class="blocksContainer">
      <div class="leftSideBlock">
        <h3>Arrange your ideal studio and get early feedback.</h3>
        <p>
          It's important to get your audio and video set up correctly now, because it's much more difficult to fix your videos after you’ve recorded.
          There are many creative ways to use what you have to create professional looking video.
        </p>
      </div>

      <div class="rightSideBlock">
        <img src="./assets/images/TestVideo_CTA.png">
        <h4>Free expert video help</h4>
        <p>Get personalized advice on your audio and video</p>
        <button>Create a test video</button>
      </div>
    </div>
  </div>

  <div class="structuresContainer">
    <div class="structureContainer">
      <div class="structureHeader">
        <i class="far fa-lightbulb"></i>
        <h3>Tips</h3>
      </div>

      <div class="structureContent">
        <ul>
          <li>
            <div>
              <h4>Equipment can be easy.</h4>
              <p>You don’t need to buy fancy equipment. Most smartphone cameras can capture video in HD, and you can record audio on another phone or external microphone.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Students need to hear you.</h4>
              <p>A good microphone is the most important piece of equipment you will choose. There are lot of affordable options.. Make sure it’s correctly plugged in and 6-12 inches (15-30 cm) from you.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Make a studio.</h4>
              <p>Clean up your background and arrange props. Almost any small space can be transformed with a backdrop made of colored paper or an ironed bed sheet.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Light the scene and your face.</h4>
              <p>Turn off overhead lights. Experiment with three point lighting by placing two lamps in front of you and one behind aimed on the background.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Reduce noise and echo.</h4>
              <p>Turn off fans or air vents, and record at a time when it’s quiet. Place acoustic foam or blankets on the walls, and bring in rugs or furniture to dampen echo.</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Be creative.</h4>
              <p>Students won’t see behind the scenes. No one will know if you’re surrounded by pillows for soundproofing...unless you tell other instructors in the community!</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="structureContainer" style="margin-top: 40px;">
      <div class="structureHeader">
        <i class="fas fa-exclamation" style="margin-right: 27px;"></i>
        <h3>Requirements</h3>
      </div>

      <div class="structureContent">
        <ul style="line-height: 40px; margin-left: 20px;">
          <li style="list-style-type: initial;">Film and export in HD to create videos of at least 720p, or 1080p if possible</li>
          <li style="list-style-type: initial;">Audio should come out of both the left and right channels and be synced to your video</li>
          <li style="list-style-type: initial;">Audio should be free of echo and background noise so as not to be distracting to students</li>
        </ul>
      </div>
    </div>

    <div class="structureContainer" style="margin-top: 40px;">
      <div class="structureHeader">
        <i class="fas fa-passport" style="margin-right: 15px;"></i>
        <h3>Tips</h3>
      </div>

      <div class="structureContent">
        <ul>
          <li>
            <div>
              <h4>Teach Hub: Guide to equipment</h4>
              <p>Make a home studio on a budget</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Udemy Trust & Safety</h4>
              <p>Our policies for instructors and students</p>
            </div>
          </li>

          <li>
            <div>
              <h4>Join the community</h4>
              <p>A place to talk with other instructors</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
