<div class="subjectCategoryContainer">
  <h3>Top Categories</h3>

  <div class="swiperContainer">
    <swiper [config]="config">

      <div class="swiperContainer_block" [routerLink]="['/category/1']">
        <div class="imageContainer">
          <img src="./assets/images/biology.jpg">
        </div>
        <p>Biology</p>
      </div>

      <div class="swiperContainer_block" [routerLink]="['/category/1']">
        <div class="imageContainer">
          <img src="./assets/images/chemistry.jpg">
        </div>
        <p>Chemistry</p>
      </div>

      <div class="swiperContainer_block" [routerLink]="['/category/1']">
        <div class="imageContainer">
          <img src="./assets/images/khmer.jpg">
        </div>
        <p>Khmer Literature</p>
      </div>

      <div class="swiperContainer_block" [routerLink]="['/category/1']">
        <div class="imageContainer">
          <img src="./assets/images/math.jpg">
        </div>
        <p>Math</p>
      </div>

      <div class="swiperContainer_block" [routerLink]="['/category/1']">
        <div class="imageContainer">
          <img src="./assets/images/physic.jpg">
        </div>
        <p>Physic</p>
      </div>

      <div class="swiperContainer_block" [routerLink]="['/category/1']">
        <div class="imageContainer">
          <img src="./assets/images/history2.png">
        </div>
        <p>History</p>
      </div>

    </swiper>
  </div>
</div>
