
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$onlinecourse-primary: mat-palette($mat-indigo);
$onlinecourse-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$onlinecourse-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$onlinecourse-theme: mat-light-theme((
  color: (
    primary: $onlinecourse-primary,
    accent: $onlinecourse-accent,
    warn: $onlinecourse-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($onlinecourse-theme);

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import '~ngx-bar-rating/themes/br-default-theme' ;

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

// html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, p, button {
  font-family: 'Open Sans', sans-serif !important;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  padding: 15px 10px;
  color: white;
  font-size: 20px !important;
  background-color: rgba(128, 128, 128, 0.5);
  margin-right: -15px;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  padding: 15px 10px;
  color: white;
  font-size: 20px !important;
  background-color: rgba(128, 128, 128, 0.5);
  margin-left: -15px;
}

.swiper-pagination-handle span {
  color: white;
  background-color: white;
  border: none;
}

swiper> .swiper.s-wrapper .swiper-wrapper .swiper-slide {
  overflow: hidden !important;
}

// .popularTopicsContainer .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
//   padding: 20px;
//   color: rgb(0, 100, 100);
//   font-size: 15px !important;
//   font-weight: bold;
//   background-color: white;
//   box-shadow: 0px 0px 8px grey;
//   margin-right: 20px;
//   margin-top: -120px;
//   border-radius: 100px;
// }

// .popularTopicsContainer .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
//   padding: 20px;
//   color: rgb(0, 100, 100);
//   font-size: 15px !important;
//   font-weight: bold;
//   background-color: white;
//   box-shadow: 0px 0px 8px grey;
//   margin-left: 20px;
//   margin-top: -120px;
//   border-radius: 100px;
// }

.swiperContainer {
  width: 100%;

  .swiperContainer_block {
    margin-top: 20px;
    box-sizing: border-box;

    .imageContainer {
      width: 100%;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .contentContainer {

      p {
        margin-top: -10px;
      }

      .ratingContainer {
        margin-top: -10px;
      }
    }
  }
}

.swiperContainer_1_element {
  width: 100%;
  border: 1px solid rgb(196, 196, 196);

  .swiperContainer_block {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;

    .imageContainer {
      width: 30%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .contentContainer {
      width: 70%;
      padding-left: 20px;

      p {
        margin-top: -10px;
      }

      .ratingContainer {
        margin-top: -10px;
      }
    }
  }
}

.filterContainer .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.courseContentContainer .mat-expansion-panel:not([class*=mat-elevation-z]) {
  border-top: none;
}

.courseContentContainer .mat-expansion-panel-header.mat-expanded {
  padding: 40px;
  background-color: #d4d4d4 !important;
}

.mat-expansion-panel-header {
  width: 100% !important;
  padding: 15px !important;
}

.instructorDashboardLayoutContainer {

  .sidebarContainer {
    transition: width 600ms ease;

    .navElementsContainer {

      .navElementContainer {

        p {
          display: none;
        }
      }
    }
  }

  .sidebarContainer:hover {
    transition: width 600ms ease;
    width: 275px;

    .navElementsContainer {

      .navElementContainer {

        p {
          display: block;
        }
      }
    }
  }
}

.mat-progress-bar-fill::after {
  background-color: #007791 !important;
}

.mat-progress-bar-buffer {
  background-color: #DEDFE0 !important;
}

.active_creating_course {
  border-left: 6px solid #e43f5a !important;
}

.createCoursePageContainer {

  .createCoursePageHeader {
    width: 100%;
    padding: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DEDFE0;

    p {
      margin: 0;
      padding: 0;
      font-size: 25px;
    }
  }
}

.messageContainer {
  width: 100%;
  padding: 20px;
  background-color: #E6F2F5;

  display: flex;

  i {
    color: #007791;
    margin-right: 20px;
    margin-top: 7px;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 30px;
  }
}

.navElementsContainer .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.menuElement-active {
  color: #1F4068;
  font-weight: bold;
  text-decoration: underline;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  outline: none;
}

.adminPagesHeader {
  width: 100%;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-self: center;

  .titleWithSelectOptions {
    display: flex;
    justify-content: flex-start;
    align-self: center;

    h1 {
      margin-right: 20px;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}

.fullHeightDialogContainer .mat-dialog-content {
  max-height: 82vh !important;
  min-height: 82vh !important;
}

.matInputForm {
  width: 100%;
}

.matSubmitForm {
  background-color: #1F4068;
  color: white;
}

.tableContainer {
  width: 100%;
  box-shadow: 0px 0px 8px rgb(221, 221, 221);
  border-radius: 10px;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      width: 100%;
      transition: 0.5s;
      border-bottom: 1px solid #E0E0E0;

      td, th {
        outline: none;
        padding: 20px;
        text-align: center;

        i {
          font-size: 20px;
          transition: 0.5s;
        }

        i:hover {
          color: #3F51B5;
          cursor: pointer;
          transition: 0.5s;
        }
      }

      th {
        color: #495057;
      }
    }

    tr:hover {
      cursor: pointer;
      transition: 0.5s;
      background-color: rgb(236, 236, 236);
    }
  }
}

.virtualScrollViewPortContainer {
  width: 500px;
  height: 100px;
  border: 1px solid black;

  .virtualScrollViewPortItem {
    height: 50px;
  }
}

.cdk-overlay-pane:first-child {
  margin-top: 39px;
}