<div class="homeContainer">
    <h1>Student - Courses</h1>
  
    <div class="messageContainer">
      <i class="fas fa-info-circle"></i>
      <p>
        Due to increased volume of new courses being submitted for review, the Quality Review Process may take up to 6 days. In order to avoid any additional delays, be sure that
        your course is in compliance with Udemy’s Course Materials Guidelines.
      </p>
    </div>
  
    <div class="controllerContainer">
      <div class="searchFilterContainer">
        <div class="searchContainer">
          <input type="text" placeholder="Search your courses">
          <button><i class="fas fa-search"></i></button>
        </div>
  
        <select>
          <option>Newest</option>
          <option>Oldest</option>
          <option>Ascending</option>
          <option>Descending</option>
          <option>Published First</option>
          <option>Unpublished First</option>
        </select>
      </div>
    </div>
  
    <div class="coursesContainer">
  
      <div class="courseContainer" *ngFor="let item of this.courseStore.Courses" [routerLink]="['/viewing_course/' + item.key ]">
        <div class="imageContainer">
          <img src="{{ item?.courseImageUrl || './assets/images/placeholder.png' }}">
        </div>
  
        <div class="descriptionContainer">
          <div>
            <div class="first_row">
              <p>{{ item?.title || 'Untitled Course' }}</p>
              <p>{{ item?.status?.text }}</p>
            </div>
            <div class="second_row">
              <h4>Finish your course</h4>
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  
    <div class="resourceCardsContainer">
      <p class="resourceText">Based on your experiences, we think these resources will be helpful.</p>
  
      <div class="resourceCardContainer">
        <div class="imageContainer">
          <img src="./assets/images/dash_course_illustration.png">
        </div>
  
        <div class="descriptionContainer">
          <p class="descriptionTitle">
            Create an Engaging Course
          </p>
          <p class="descriptionBody">
            Whether you've been teaching for years or are teaching for the first time, you can make an engaging course. We've compiled resources and best practices to help you
            get to the next level, no matter where you're starting.
          </p>
          <p class="getStarted">Get Started</p>
        </div>
      </div>
  
      <div class="for2CardsContainer">
        <div class="resourceCardContainer" style="width: 49%;">
          <div class="imageContainer">
            <img src="./assets/images/dash_video_illustration.png">
          </div>
  
          <div class="descriptionContainer" style="max-width: 400px;">
            <p class="descriptionTitle">
              Get Started with Video
            </p>
            <p class="descriptionBody">
              Quality video lectures can set your course apart. Use our resources to learn the basics.
            </p>
            <p class="getStarted">Get Started</p>
          </div>
        </div>
  
        <div class="resourceCardContainer" style="width: 49%;">
          <div class="imageContainer">
            <img src="./assets/images/dash_publish_illustration.png">
          </div>
  
          <div class="descriptionContainer" style="max-width: 400px;">
            <p class="descriptionTitle">
              Build Your Audience
            </p>
            <p class="descriptionBody">
              Set your course up for success by building your audience.
            </p>
            <p class="getStarted">Get Started</p>
          </div>
        </div>
      </div>
  
      <div class="resourceCardContainer">
        <div class="imageContainer">
          <img src="./assets/images/dash_challenge_illustration.png">
        </div>
  
        <div class="descriptionContainer">
          <p class="descriptionTitle">
            Join the Newcomer Challenge!
          </p>
          <p class="descriptionBody">
            Get exclusive tips and resources designed to help you launch your first course faster! Eligible instructors who publish their first course on time will receive a special bonus to celebrate. Start today!
          </p>
          <p class="getStarted">Get Started</p>
        </div>
      </div>
    </div>
  
    <div class="instructorResourcesContainer">
      <p class="resourceText">Have questions? Here are our most popular instructor resources.</p>
  
      <div class="instructorResourcesContainer_2">
        <div class="instructorResourceContainer">
          <i class="fas fa-photo-video"></i>
          <h4>Test Video</h4>
          <p>Send us a sample video and get expert feedback.</p>
        </div>
  
        <div class="instructorResourceContainer">
          <i class="far fa-comment"></i>
          <h4>Auxswot Community</h4>
          <p>Ask experienced instructors for advice, or browse answers.</p>
        </div>
  
        <div class="instructorResourceContainer">
          <i class="fas fa-book"></i>
          <h4>Teaching Center</h4>
          <p>Learn about best practices for teaching on Udemy.</p>
        </div>
  
        <div class="instructorResourceContainer">
          <i class="far fa-bookmark"></i>
          <h4>Insight Courses</h4>
          <p>Get guided by video courses for Udemy instructors.</p>
        </div>
  
        <div class="instructorResourceContainer">
          <i class="fas fa-hands-helping"></i>
          <h4>Help and Support</h4>
          <p>Browse our Help Center or contact our support team.</p>
        </div>
      </div>
      </div>
  </div>
  