<div class="sideBarContainer">
  <div>
    <div class="imageContainer">
      <img src="./assets/logo/logo.png" [routerLink]="['/admin']">
    </div>

    <div class="navElementsContainer">
      <mat-accordion>
        <mat-expansion-panel opened>
          <mat-expansion-panel-header>
            <mat-panel-title>

              <div class="navElementContainer">
                <p>Category</p>
              </div>

            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="subNavElementContainer" [routerLink]="['/admin/course-category']" routerLinkActive="menuElement-active">
            <span class="material-icons">
              category
            </span>
            <p>Course Category</p>
          </div>
          <div class="subNavElementContainer">
            <span class="material-icons">
              person
            </span>
            <p>Instructor Category</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="navElementContainer_1" [routerLink]="['/admin/level']" routerLinkActive="menuElement-active">
        <p>Level</p>
      </div>

      <div class="navElementContainer_1" [routerLink]="['/admin/instructor']" routerLinkActive="menuElement-active">
        <p>Instructor</p>
      </div>

      <div class="navElementContainer_1" [routerLink]="['/admin/slideshow']" routerLinkActive="menuElement-active">
        <p>SlideShow</p>
      </div>
    </div>
  </div>

  <div class="signOutContainer" (click)="btnSignOutClicked()">
    <p>Sign Out</p>
    <i class="fas fa-sign-out-alt"></i>
  </div>
</div>
